$orange:#8bc34a;
$border_color: rgba(220, 219, 219, 0.6);
$light_grey: #E5E5E5;
$white:#ffffff;
$black:#000000;
$black_shade:#4D4C4C;
$dark_grey:#6A6868;
$light_black:#222121;
$input_border:#DEDADA;
$yellow_color:#FEB626;
$heading_border:#F4B8AB;
$grey_outline:#C4C4C4;
$arrow_btn: #D7385E;
$footer_bg: #263238;
$font_color:#6f7495;
$grey_light: #ebebeb;
